<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Dairy</key>
	<string>396^Dairy-Free</string>
	<key>Egg</key>
	<string>397^Egg-Free</string>
	<key>Gluten</key>
	<string>393^Gluten-Free</string>
	<key>Peanut</key>
	<string>394^Peanut-Free</string>
	<key>Seafood</key>
	<string>398^Seafood-Free</string>
	<key>Sesame</key>
	<string>399^Sesame-Free</string>
	<key>Soy</key>
	<string>400^Soy-Free</string>
	<key>Sulfite</key>
	<string>401^Sulfite-Free</string>
	<key>Tree Nut</key>
	<string>395^Tree+Nut-Free</string>
	<key>Wheat</key>
	<string>392^Wheat-Free</string>
</dict>
</plist>
